.nameC, .emailC{
  display: block;
  margin-bottom: 5px;
  border: 1px solid #cccccc;
  font-size: 10px;
  border-radius: 5px;
  height: 20px;
  width: 210px;
  transition: box-shadow 1s;
}
.nameC:hover, .emailC:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

 .blin_name{
  margin-bottom: 5px;
  border: 1px solid #cccccc;
  display: inline-block;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  font-size: 10px;
  transition: box-shadow 1s;
}

.blin_name:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.inlineTextBlock{
  display: inline-block;
  color: black;
  width: 200px;
  vertical-align: middle;
  margin: 10px;
  font-weight: bold;
}

.btn{
  vertical-align: middle;
  margin-left: 5px;
  display: inline-block;
}

.blueBtn{
  background-color: rgb(2, 134, 250);
  color: white;
  width: 216px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
  transition: box-shadow 1s ;
}

.blueBtn:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); 
}

.video-preview{
  display: inline-block;
  margin: 25PX;
  width: 220px;
  vertical-align: top;
}

.searchbox{
  width: 200px;
  border-radius: 5px;

}

.imgBig{
  width: 250px;
  display: block; 
  margin-bottom: 10px;
}

.smallImg{
  border-radius: 60px;
  width: 60px;
}

.mainLabel{
  color: black;
  background-color: transparent;
  width: 140px;
  font-weight: bold;
  font-size: 8px;
}
.secondaryLabel, .statsLabel{
  color: rgba(128, 128, 128,0.9);
  background-color : transparent;
  font-size: 6px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.search-Bar{
  display: block;
}