header{
  display: flex;
  
}

.header{
  height: 70px;
  display: flex;
  background-color: white;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 101;
  flex-direction: row;
  border-bottom-width:1px ;
  border-color: rgba(180, 180, 180, 0.6);
  border-bottom-style: solid;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}



.hamburger-menu{
  height: 36px;
  margin-left: 36PX;
  margin-RIGHT: 30PX;
}

.youtube-logo{
  height: 36px;
  width: 140px;
}

.leftSection{
  display: flex;
  align-items: center;
  height:50%;
}

.middleSection{
  flex: 1;
  display: flex;
  margin-right: 20px;
  margin-left: 70px;
  flex-direction: row;
  align-items: center;
  max-width: 600px;
  height: 100px;
  }

.searchDiv{
  flex: 1;
  justify-content:space-between;
  margin-right: 20px;
  max-width: 600px;
  height:50%;
}

.searchArea{
  display: flex;
  border-radius: 1px;
  border-width: 1px;
  border-color: rgba(180, 180, 180, 0.8);
}

.search-Bar{
  flex: 1;
  padding-left: 10px;
  height: 36px;
  font-size: 18px;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  box-shadow: inset 1px 2px 5px rgba(0, 0,0, 0.3) ;
  width: 0;
}

.search-Bar::placeholder{
  font-family: Roboto,arial;
  font-size: 16px;
}

.searchBtn{
  width: 60px;
  height: 40px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  margin-left: -2px;
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  border-width: 1px;
}

.searchBtn .tooltip{
    position: absolute;
    right: 0px;
    background-color: grey;
    color: white;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 2px;
    bottom: -20px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.searchBtn:hover .tooltip{
  opacity: 1;
} 

.searchImage{
  height: 25px;
}

.roundGrayBtn{
  width: 40px;
  margin-left: 20px;
  height: 40px; 
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0,0, 0.05);
}

.roundGrayBtn .tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 2px;
  bottom: 0px;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.roundGrayBtn:hover .tooltip{
  opacity: 1;
} 

.genericBtn{
  width: 40px;
  margin-left: 20px;
  height: 40px; 
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: transparent;
}

.genericBtn:hover{
  background-color: rgba(180, 180, 180, 0.6);
}

.imgInsideRoundBtn{
  width: 100%;
  border-radius: 40px;
  height: 40px;

}

.current-user-picture{
  border-radius: 50px;
  height: 50px;
}

.rightSection{
display: flex;
flex-shrink: 0;
flex-direction: row;
padding-right: 30px;
align-items: center;
justify-content: right;
width: 400px;
}

.notificationsDiv{
  position: relative;
}

.notificationsNumber{
  position: absolute;
  background-color: red;
  color: white;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 20px;
  top: 2px;
  right: 1px;
  font-weight: 500;
}

