p{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0px;
  text-overflow: ellipsis;
}

.pageContent {
  max-width: 100%; /* Allow the container to grow to the available width */
  word-wrap: break-word; /* Wrap long words onto the next line */
  overflow: hidden; /* Hide any overflowing content */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

.imgBig{
  width: 100%;
}

.smallImg{
  border-radius: 60px;
  width: 92%;
}

.bigImgContainer{
  margin: 0px;
  padding-bottom: 5px;
}

.subAreaDivider{
  display: grid;
  grid-template-columns: 70px 1fr;
}

.mainLabel{
  color: black;
  background-color: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}
.secondaryLabel, .statsLabel{
  color: rgba(128, 128, 128,0.9);
  background-color : transparent;
  font-size: 12px;
  margin-bottom: 3px;
  line-height: 20px;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.search-Bar{
  margin-bottom: 10px;
}

.smallImgDiv{
  margin-left: 5px;
}

.videoTextDiv{
  height: 100px;
}

.oneVideoDiv{
  transition: box-shadow 1s;
  border-radius: 10px;
}

.oneVideoDiv:hover{
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}